/* template */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #222222;
  --yellow: #ecc900;
  --muted: #666666;
  --light-grey: #f1f1f1;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
}

main a {
  color: var(--black);
  background-color: var(--yellow);
}

main a:hover {
  color: var(--yellow);
  background-color: var(--black);
}

/** CONTAINER **/

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}


@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/** HEADER **/

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
}

.header-content a {
  color: var(--black);
  font-weight: bold;
}

.header-content a.feedback {
  margin-right: 2em;
  position: relative;
}

.header-content a.feedback::before {
  position: absolute;
  content: '';
  background-color: var(--yellow);
  left: -1em;
  top: -1em;
  bottom: -1em;
  right: -1em;
  transform: skew(-15deg);
  z-index: -1;
}

.header-content .logo {
  text-decoration: none;
}

/** FOOTER **/

footer {
  color: #fff;
  background-color: var(--black);
}

footer p {
  margin: 1em 0;
  text-align: center;
}
/** MENU **/

nav {
  background-color: var(--black);
}

.nav-main {
  display: flex;
}

.nav-main a {
  flex: 1;
  color: var(--yellow);
  text-decoration: none;
  text-align: center;
  min-height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  transition: all .1s ease-in-out;
}

.nav-main a:hover {
  background-color: var(--yellow);
  color: var(--black);
}


/****/

main {
  flex: 1;
}


/** ERRORS **/
.error-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-404 .code {
  font-size: 15em;
}

.error-404 p {
  text-align: center;
  margin: 1em auto;
}


/* CATALOG MENU */
.catalog-menu {
  width: 12em;
  margin: 0 0.5em;
}

.catalog-menu ul {
  list-style: none;
}

.catalog-menu > ul > li {
  border-bottom: 1px solid #fff;
  background-color: var(--light-grey);
}

.catalog-menu ul li > ul {
  display: none;
  padding-left: 1em;
  background-color: #fff;
}

.catalog-menu ul li.opened > ul {
  display: block;
}

.catalog-menu a {
  display: block;
  padding: .5em;
  background: none;
  text-decoration: none;
}

.catalog-menu a:hover {
  color: inherit;
  background-color: inherit;
  text-decoration: underline;
}

.catalog-menu li.opened > a {
  background-color: var(--black);
  color: var(--yellow);
}

.catalog-menu li.active > a {
  background-color: var(--yellow);
  pointer-events: none;
}


/** PART CATALOG PAGE **/
.part-catalog-page {
  display: flex;
  margin: 1em auto;
}

.part-catalog-page > .parts {
  flex: 1;
}

.part-catalog-page .no-parts-placeholder {
  text-align: center;
  margin-top: 2em;
  color: var(--muted);
}

.parts-container {
  display: flex;
  flex-wrap: wrap;
}

.parts-container .part-card {
  width: 12em;
  min-height: 15em;
  max-height: 15em;
  margin: 1em;

  background-color: #fff;
  box-shadow: 0 0 1em var(--light-grey);

  text-decoration: none;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.parts-container .part-card:hover {
  box-shadow: 0 0 1em #c4c4c4;
}

.parts-container .part-card h2 {
  margin: .3em .6em;
  font-size: 18px;
}

.parts-container .part-card h3 {
  margin: .3em .6em;
  font-size: 16px;
  font-weight: normal;
}

.parts-container .part-card img {
  width: 12em;
  height: 10em;
  object-fit: cover;
}

/** SINGLE PART PAGE **/
.single-part-page {
  display: flex;
  margin: 1em auto;
}

.single-part-page .part {
  margin-left: 20px;
  display: flex;
  flex: 1;
}

.single-part-page .part .photo {
  max-width: 300px;
  min-width: 300px;
  min-height: 300px;
  max-height: 600px;
  background-color: #fff;
}

.single-part-page .part .photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: var(--light-grey);
}

.single-part-page .part .description {
  margin-left: 30px;
  flex: 1;
}

.single-part-page .part .description .part-title {
  margin-bottom: 0.5em;
}

.feedback-button {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  margin: 1em 0;
  padding: .5em 1em;
  outline: none;
  border: none;
  border-radius: 0;
  color: var(--black);
  background-color: var(--yellow);
  cursor: pointer;
}

.feedback-button:hover {
  background-color: var(--black);
  color: var(--yellow);
}

/** COMMON PAGE **/

.common-page {
  margin: 3em auto;
  white-space: pre-line;
}

.common-page img {
  display: block;
  margin: 2em auto;
}

.common-page ol,
.common-page ul {
  margin: 1em 3em;
}

.common-page ol li,
.common-page ul li {
 line-height: 0;
}

/** FRONT PAGE **/
.greeting {
  display: flex;
  align-items: center;
  min-height: 500px;
}

.greeting .text {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

.greeting img {
  object-fit: contain;
  height: auto;
}

.catalog-preview {
  padding: 2em;
  background-color: var(--light-grey);
  margin-bottom: 3em;
}

.catalog-preview .parts-container{
  justify-content: center;
}

.catalog-preview .catalog-header {
  display: inline-block;
  text-decoration: none;
  background: none;
}

.catalog-preview .watch-catalog {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 1em;
  padding: 1em;
}